services:
  laravel:
    build:
      context: ./backend
      dockerfile: Dockerfile.http
    ports:
      - "8003:8000"
    # volumes:
    #   - ./backend:/var/www/html
    environment:
      DB_CONNECTION: pgsql
      DB_HOST: koows8s44c04cogskskgc4k0
      DB_PORT: 5432
      DB_DATABASE: postgres
      DB_USERNAME: postgres
      DB_PASSWORD: uzqJdpo7pg5SejCVGgIb7SoNf8m5xabD9DVxA8gFtYeyn905YMSGWClaMC7SmUOo
      APP_URL: "https://api.gofun.cloud"
      SANCTUM_STATEFUL_DOMAINS: "gofun.cloud,www.gofun.cloud,admin.gofun.cloud"
      SESSION_DOMAIN: ".gofun.cloud"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=coolify"
      - "traefik.http.routers.api.rule=Host(`api.gofun.cloud`)"
      - "traefik.http.routers.api.entrypoints=websecure"
      - "traefik.http.routers.api.tls=true"
      - "traefik.http.routers.api.tls.certresolver=letsencrypt"
      - "traefik.http.services.api.loadbalancer.server.port=8000"
    # depends_on:
    #   - postgres
    networks:
      - internal
      - coolify

  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    ports:
      - "8001:80"
      # - "8002:8080"
    # volumes:
    #   - ./nginx.conf:/etc/nginx/nginx.conf
    #   - ./frontend/dist:/usr/share/nginx/html
    #   - ./admin-frontend/dist:/usr/share/nginx/admin
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=coolify"
      # Frontend
      - "traefik.http.routers.frontend.rule=Host(`gofun.cloud`) || Host(`www.gofun.cloud`)"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.routers.frontend.tls=true"
      - "traefik.http.routers.frontend.tls.certresolver=letsencrypt"
      - "traefik.http.routers.frontend.service=frontend-svc"
      - "traefik.http.services.frontend-svc.loadbalancer.server.port=80"
      # Admin (Temporarily disabled)
      # - "traefik.http.routers.admin.rule=Host(`admin.gofun.cloud`)"
      # - "traefik.http.routers.admin.entrypoints=websecure"
      # - "traefik.http.routers.admin.tls=true"
      # - "traefik.http.routers.admin.tls.certresolver=letsencrypt"
      # - "traefik.http.routers.admin.service=admin-svc"
      # - "traefik.http.services.admin-svc.loadbalancer.server.port=8080"
    depends_on:
      - laravel
    networks:
      - internal
      - coolify

# volumes:
#   postgres_data:

networks:
  coolify:
    external: true
  internal:
    driver: bridge